@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.star {
  color: #FFD700;
}

#rating { 
    border: none;
    float: left;
  }
  
  #rating > input { display: none; } 
  #rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  #rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  #rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  
  #rating > input:checked ~ label, /* show gold star when clicked */
  #rating:not(:checked) > label:hover, /* hover current star */
  #rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  #rating > input:checked + label:hover, /* hover current star when changing rating */
  #rating > input:checked ~ label:hover,
  #rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  #rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

@media screen and (min-width: 1024px){ /* for desktop mode */
    .navbar.is-spaced {
        padding: 0.5rem 5.22rem !important;
    }
}