.true {
    color: red;
}

.false {
    
}

h1.title {
    color: white;
}

body {
    background: linear-gradient(90deg, #fff6e4, #fbffeb)
}

@media screen and (min-width: 1024px){ /* for desktop mode */
    .navbar.is-spaced {
        padding: 0.5rem 5.22rem !important;
    }
}

.star {
    color: #FFD700;
}