.star {
    color: #FFD700;
  }

html {
    background: #fdfbf3;
}
#root {
  background: #fdfbf3 !important;
}
  @media screen and (min-width: 1024px){ /* for desktop mode */
    .navbar.is-spaced {
        padding: 0.5rem 5.22rem !important;
    }
}

